/* top-level style file for traffic-simulation.de
   with responsive design
*/

/* medi queries: 
https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries

example: @media (min-width: 700px), handheld and (orientation: landscape) { ... }
operator "or" = ","
boolean variables:
(min-width: 700 px)
handheld
(orientation: landscape)
(monochrome)
(color)
(min-aspect-ratio: 1/1)
limits: 
*/

/*#############################################################
 big landscape:   (min-width: 770 px)  and (min-aspect-ratio:11/10) 
 small landscape: (max-width: 769 px)  and (min-aspect-ratio:11/10) 
 big portrait:    (min-height: 700 px) and (max-aspect-ratio:11/10) 
 small portrait:  (max-height: 699 px) and (max-aspect-ratio:11/10) 
#############################################################*/

/*#############################################################*/
/* basic settings for all */
/*#############################################################*/


body{
  margin: 0;
  padding: 0;
  font-family: 'helvetica', sans-serif;
                 /*font-size: 14px;*/
  font-size: 2vmin;
  text-align: center;
  color: #404050;   /* text color */
  background-color: #FFFFFF;
}


/* not used at present */

 h2{
     font-family: courier, sans-serif;
     font-size: 2.5vmin;
     font-weight: bold;
     color: #556;
     padding-top:0px;
 }

/* not used at present */

 h3{ 
     font-family: sans-serif;
     font-size: 1.9vmin; 
     font-weight: bold;
     font-style: italic;
     color: #556;
     padding-top:0px;
 }


#container{
  margin: 0em auto;
  /*width: 650px;*/
  width: 98vw;
  text-align: left;
  background-color: #FFFFFF;
}

/* suppresses borders on images used as links */

img {
        border-width: 0;
}

/* general links */


a {
	color: #07A;
	font-weight: normal;
 }

a:link {
	color: #07A;
	text-decoration: none;
}

a:visited {
	color: #957;
	text-decoration: none;
}

a:active {
	text-decoration: underline;
	background-color: #F80;
}

a:hover {
	text-decoration: underline;
	color: #07A;
}


