
/* styleMobile.css: overrides specifications in styleDesktop.css 
   for viewport widths as specified below 
   attributes of containers not specified again are remembered from
   styleDesktop.css 

   if contents exceeds height of a container, it just overflows 
   but all is displayed  
 */


@media all and (min-width: 300px) and (max-width: 480px) {

 body{
    font-size: 3vmin;
 } 

 #footer{
    position: absolute; 
    clear: both;
    height: 5vh;
    width: 100vw;
    top: 30vh;
    background-color: lime;
 }


 /* for narrow screens get the menu below instead of to the right 
    if less important things in menu; order for relative positioning 
    by calling of <div ...> ... </div> in html file 
 */

 #contents{
  width: 100vw;
  height: 85vh;
 }

 #menu{
   width: 100vw;
   height: 20vh;  
 }

} /* @media filter

