
/* media queries: 
https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries

example: @media (min-width: 700px), handheld and (orientation: landscape) { ... }
operator "or" = ","
boolean variables:
(min-width: 700px)
handheld
(orientation: landscape)
(monochrome)
(color)
(min-aspect-ratio: 1/1)  horiz/vertical
limits: 
*/

/*#############################################################
 big landscape:   (min-width: 720px)  and (min-aspect-ratio: 6/5) 
 small landscape: (max-width: 719px)  and (min-aspect-ratio: 6/5) 
 big portrait:    (min-height: 600px) and (max-aspect-ratio: 6/5) 
 small portrait:  (max-height: 599px) and (max-aspect-ratio: 6/5) 
ATTENTION!! no space before pixels! 
#############################################################*/


@media all and  (max-aspect-ratio: 6/5){

/* (1) the title */

#header{
  position: absolute;
  top: 0vmin;
  height: 7vmin;
  left: calc( 15vw + 15vmin);
  width: 48vmin;
  z-index: 2; 
}

/* title image */

img.title{
  max-height: 7vmin;
}


/* (2) the simulation canvas */

#contents{
  position: absolute;
  top:    8vh;
  bottom: 1vh;
 /* height: calc(112vmin + 10vh - 8vh);*/
  left:   0vw;
  width:  98vw;
  margin-right: 0vw;
  margin-left: 0vw;
  z-index: 1;
}


/* (3) the buttons field for selecting the scenarios (bigscreen in landscape)*/
/* leave buttons layout as is; css offers only very simplistic customization */

#scenarios{
  position: absolute;
  top:     5vmin;
  height:  4vh;
  left:    1vw;
  width:  96vw;
  z-index: 2;
}

button{
  font-size: calc(1.2vw + 0.3vmax);
  width:    calc( 6vw + 7vmax );
  height:    calc(1vw + 2vmax);
  vertical-align: middle; /* bug: DOS */
}



/* (4) position of the flags for language selection: right top of simCanvas */

#infoFlags{
  position: absolute;
  top:   0vh;
  left:   calc( 98vw - 14vmin);
  width:  14vmin; /* no height */
  z-index: 2;
}


/* (5) position of the copyright: left bottom of simCanvas */

#impressum{ 
  position: absolute;
  top: 99.2vmin;
  height: 2vmin;
  left: 0vw;
  width: calc(5vw + 6vmax);
  background-color: rgba(255,255,255,0.5);
  font-size: 1.5vmin;
  z-index: 2; /* the higher the integer, the more on top */
}



/* (6)-(8) text layout of sliders: tables override general text spec) */


TR{
  font-size:2.2vmin; 
  color: #000000;
}


/* (6) most important sliders: demand variables such as Qin percTruck 
/* and most important model parameters and action variables (speedlimit)*/

#sliders1{ /* table elements relevant for font size */
  position: absolute;
  top: 32vmin;
  height: 13vmin;
  left: 40vmin;  /* calc( 24vw - 23vmin);*/
  width: 49vmin;
  background-color: rgba(255,255,255,0.4);
  z-index: 2; /* the higher the integer, the more on top */
}

/* (7) less important sliders; potentially dropped */

#sliders2{ 
  position: absolute;
  top: 56vmin;
  height: 13vmin;
  left: 40vmin;
  width:  49vmin;
  background-color: rgba(255,255,255,0.4);
  z-index: 2;

}

/* (8) even less important: generally outside of main screen  */

#sliders3{ 
  position: absolute;
  top: 93vmin;
  left: 40vmin;
  width: 49vmin;
  height: 8vmin;
  background-color: rgba(255,255,255,0.4);
  z-index: 2;
}



/* (9)-(11): define white space below sim in portrait mode */
/* cover simulation "grass" if needed */


#footWhiteSpace{
  position: absolute;
  top: calc(100vmin + 1vh);
  height: 50vmin;
  left: 0vw;
  width: 98vw;
  background-color: white;
  z-index: 1;
}


/* (9)-(11): image layout for "text arts" title images */ 

img.infoBlock{
    /*max-width: 90%;*/
    max-width: 16vw;
    max-height: 3vh;
}

/* (9) former model navigation frame  */

#infoModels{
  position: absolute;
  top: 102vmin;
  height:  40vmin;
  left:    5vw;
  width:  25vw;
  z-index: 2;
}


/* (10) position of the block describing the scenarios */

#infoScenarios{
  position: absolute;
  top: 102vmin;
  height:  40vmin;
  left:    35vw;
  width:   25vw;
  z-index: 2;
}

/* (11) position of the general link fields (often outside main area) */
 
#infoLinks{
  position: absolute;
  top: 102vmin;
  left:   70vw;
  width:  25vw;
  z-index: 2;
}


} /* end @media filter portrait normal*/



/*#########################################################*/
/* addl settings hendheld-type devices with small screen */
/*#########################################################*/

@media all and  (max-aspect-ratio: 6/5) and (max-width: 599px){

div#track_timewarp, div#track_density, div#track_scale, div#track_truckFrac,div#track_qIn, div#track_qOn, div#track_fracOff, div#track_speedL,div#track_IDM_v0, div#track_IDM_v0Up, div#track_IDM_T,div#track_IDM_s0, div#track_IDM_a, div#track_IDM_b{
    width: 20vmin;
    height: 2.8vmin;
}

div#slider_timewarp, div#slider_density, div#slider_scale, div#slider_truckFrac,div#slider_qIn, div#slider_qOn, div#slider_fracOff, div#slider_speedL,div#slider_IDM_v0, div#slider_IDM_v0Up, div#slider_IDM_T,div#slider_IDM_s0, div#slider_IDM_a, div#slider_IDM_b{
    height: 2.8vmin; 
    width: 1.5vmin;
}




button{
  font-size: calc( 2.2vmin + 0.3vh);
  width:     calc( 16vmin + 2vh);
  height:    calc( 2.5vmin + 1.0vh);
  vertical-align: center; 
}

TR{
  font-size:2.8vmin; 
  color: #000000;
}

/*(1a)*/
#header{
  width: 70vmin;
  left:  8vmin;
}


/*(3a)*/

#scenarios{
  top:     7vmin;
}

/*(2a)*/

#contents{
  top:    calc(13vmin + 2vh);
  width:  97vw;
  height: 130vmin;
}

/* (6a-8a) */

#sliders1{
  top: calc(29vmin + 2vh);
  height: 18vmin;
  left: 35vmin;
  width: 60vmin;
}

#sliders2{
  top: calc(57vmin + 2vh);
  height: 18vmin;
  left: 35vmin;
  width: 60vmin;
}

#sliders3{ /* hide */
  top: 50vmin;
  left: 35vmin;
  width: 60vmin;
  z-index: 0;
}



} /* end @media filter portrait handheld */
