/* top-level style file for traffic-simulation.de
   with responsive design
   if contents exceeds height of a container as specified below, 
   it just overflows  but all is displayed  
*/

body{
  margin: 0;
  padding: 0;
  font-family: 'helvetica', sans-serif;
                 /*font-size: 14px;*/
  font-size: 2vmin;
  text-align: center;
  color: #404050;   /* text color */
  background-color: #FFFFFF;
}

/* within tables general specification NOT used!!! */

TH{
  font-size: 2.5vmin;
  font-weight: bold; 
}

TR{
  font-size:1.9vmin; 
}



#container{
  margin: 0em auto;
  /*width: 650px;*/
  width: 98vw;
  text-align: left;
  background-color: #FFFFFF;
}

/* hack with background image is the ONLY way to get oth width and height fit
into contaier!! */

#header{
  position: absolute;
  left: 20vw;
  top: 0vmin;
  height: 6.5vmin;  /* so was wie calc( 39vw - 23vmin) bei slider1 machen!*/
  width: 40vw;
  font-size: 4vmin;
  font-weight:bold;
  background: url("../figs/title.png");
  /*background-size: cover;*/
  background-size: contain;
  background-repeat:no-repeat;
}

#scenarios{
  position: absolute;
  left: 5vw;
  top: 7vmin;
  height: 5vmin;
  width: 70vw;
  z-index: 1;
 /* margin-left: 0vw;
  margin-right: 0vw;*/
/*  background-color: #FF8800;*/
}

/* demand variables such as Qin percTruck */
/* ! DOS for font-size for table elements; #TH{ and #TR{ !!apply! */

#sliders1{ 
  position: absolute;
  top: 55vmin;
  left: calc( 39vw - 23vmin);
  width: 46vmin;
  height: 14vmin;
  background-color: #FFFFFF;
  z-index: 1; /* the higher the integer, the more on top */
}

/* important IDM and MOBIL model parameters */

#sliders2{ 
  position: absolute;
  bottom: 26vmin;
  left: 23vmin;
  width: 40vmin;
  height: 8vmin;
  position: absolute;
  background-color: #FFFFFF;
  z-index: 2;

}

/* less important model parameters: dropped down or below for small screens */

#sliders3{ 
  position: absolute;
  top: 17vmin;
  left: 50vw;
  width: 33vw;
  height: 7.5vmin;
  background-color: #FFFFFF;
  z-index: 0;

}



/* absolute positioning */

#contents{
  position: absolute;
  top:   11vmin;
  left:   0vw;
  bottom: 0vmin;
  width:  80vw;
  margin-right: 0vw;
  margin-left: 0vw;
  z-index: 1;

}

/* former navigation frame */

#infoFlags{
  position: absolute;
  top:   12vmin;
  left:   60vw;
/*  height: 7vmin;*/
  width:  20vmin;
  z-index: 2;
}

#infoModels{
  position: absolute;
  top:   11vmin;
  left:   80vw;
  height: 20vmin;
  width:  18vw;
 /* background-color: #FFFF99;*/
}

#infoScenarios{
  position: absolute;
  top:   35vmin;
  left:   80vw;
  height: 35vmin;
  width:  18vw;
  /*background-color: #AAFFAA;*/
}

#infoSources{
  position: absolute;
  top:   96vmin;
  left:   0vw;
  height: 65vmin;
  width:  48vw;
  background-color: #00FF99;
}


#infoLinks{
  position: absolute;
  top:   96vmin;
  left:   50vw;
  height: 65vmin;
  width:  48vw;
  background-color: #FFFF99;
}


/* leave buttons as is; 
   css background options offer only very simplistic customization
*/

button{
  font-size: calc( 6px + (18 - 6) * ( (100vmin - 300px) / ( 900 - 300) ));
}

h1{
     text-align: center;
     font-family: sans-serif;
     font-size: 1.8vmin;
     font-weight: bold;
     color: #000;
     padding-top:0px;
     padding-bottom:0px;
 }
 
 h2{
     font-family: courier, sans-serif;
     font-size: 2vmin;
     font-weight: bold;
     color: #556;
     padding-top:0px;
 }

 h3{
     font-family: sans-serif;
     font-size: 1.9vmin;
     font-weight: bold;
     font-style: italic;
     color: #556;
     padding-top:0px;
 }



/* general links */


a {
	color: #07A;
	font-weight: normal;
 }

a:link {
	color: #07A;
	text-decoration: none;
}

a:visited {
	color: #957;
	text-decoration: none;
}

a:active {
	text-decoration: underline;
	background-color: #F80;
}

a:hover {
	text-decoration: underline;
	color: #07A;
}

/* suppresses borders on images used as links */

img {
        border-width: 0;
        max-width:  50%;
        max-height: 20%;
}




/* ###################################################
   overrides above specifications 
   for viewport widths as specified below 
   attributesnot specified again are remembered
   particularly:
   get for narrow screens get the menu below instead of to the right
   filter options: http://www.w3schools.com/cssref/css3_pr_mediaquery.asp
 ################################################### */


/*@media all and (min-width: 300px) and (max-width: 480px) {*/
@media all and (max-width: 600px), 
 all and (max-aspect-ratio: 6/5) {

 body{
    font-size: 3vmin;
 } 

 #contents{
   position: absolute;
   width: 100vw;
   height: 100vmin;
 }


#infoFlags{
  position: absolute;
  top:   30vmin;
  left:   90vw;
  width: 10vw;
}

#infoModels{
  position: absolute;
  top:   120vmin;
  left:   0vw;
  height: 25vmin;
  width:  16vw;
}

#infoSources{
  position: absolute;
  top:   120vmin;
  left:   25vw;
  height: 25vmin;
  width:  18vw;
}

#infoScenarios{
  position: absolute;
  top:   120vmin;
  left:   50vw;
  height: 25vmin;
  width:  18vw;
}


#infoLinks{
  position: absolute;
  top:   120vmin;
  left:   75vw;
  height: 25vmin;
  width:  18vw;
}



} /* @media filter*/

