/* top-level style file for traffic-simulation.de
   with responsive design
*/

/* medi queries: 
https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries

example: @media (min-width: 700px), handheld and (orientation: landscape) { ... }
operator "or" = ","
boolean variables:
(min-width: 700 px)
handheld
(orientation: landscape)
(monochrome)
(color)
(min-aspect-ratio: 1/1)
limits: 
*/

/*#############################################################*/
/* basic settings for all */
/*#############################################################*/


body{
  margin: 0;
  padding: 0;
  font-family: 'helvetica', sans-serif;
                 /*font-size: 14px;*/
  font-size: 2vmin;
  text-align: center;
  color: #404050;   /* text color */
  background-color: #FFFFFF;
}


#container{
  margin: 0em auto;
  /*width: 650px;*/
  width: 98vw;
  text-align: left;
  background-color: #FFFFFF;
}

/* suppresses borders on images used as links */

img {
        border-width: 0;
}

/* general links */


a {
	color: #07A;
	font-weight: normal;
 }

a:link {
	color: #07A;
	text-decoration: none;
}

a:visited {
	color: #957;
	text-decoration: none;
}

a:active {
	text-decoration: underline;
	background-color: #F80;
}

a:hover {
	text-decoration: underline;
	color: #07A;
}


/*#############################################################*/
/* default (bigscreen in landscape) */
/*#############################################################*/



/* the title */
/* Background image hack ONLY way to control vmin height!! */

#header{
  position: absolute;
  top: 0vmin;
  height: calc( 3vw + 3vmin); 
  left: calc( 15vw + 15vmin);
  width: 40vw; /* needed! */
  font-size: 4vmin;
  font-weight:bold;
  background: url("../figs/title.png");
  background-size: contain; /* also cover and other attributes */
  background-repeat:no-repeat;
  z-index: 2;  /* above simulation canvas in rare chances of overlapping*/
}


/* the buttons field for selecting the scenarios (bigscreen in landscape)*/

#scenarios{
  position: absolute;
  top:     20vmin;
  height:  50vmin;
  left: calc( 84vw - 20vmin);
  width: 20vmin;
  z-index: 2;
}

/* leave buttons as is; css offers only very simplistic customization */

button{
  font-size: calc( 6px + (18 - 6) * ( (100vmin - 300px) / ( 900 - 300) ));
  width: 17vmin;
}

/* select German or English (bigscreen in landscape) */

#infoFlags{
  position: absolute;
  top:   8vmin;
  left:   calc( 84vw - 20vmin);
  width:  20vmin; /* no height */
  z-index: 2;
}


/* the simulation canvas (bigscreen in landscape) */

#contents{
  position: absolute;
  top:   7vmin;
  left:   0vw;
  bottom: 10vmin;
  width:  84vw;
  margin-right: 0vw;
  margin-left: 0vw;
  z-index: 1;
}

#impressum{ 
  position: absolute;
  bottom: 10vmin;
  height: 2vmin;
  left: 0vw;
  width: 10vw;
  background-color: rgba(255,255,255,0.5);
  font-size: 1.5vmin;
  z-index: 1; /* the higher the integer, the more on top */
}


/* most important: demand variables such as Qin percTruck 
/* and most important model parameters and action variables (speedlimit)*/

#sliders1{ /* table elements relevant for font size */
  position: absolute;
  top: 48vmin;
  left: 15vmin;  /* calc( 24vw - 23vmin);*/
  width: 50vmin;
  height: 12.8vmin;
  background-color: rgba(255,255,255,0.4);
  z-index: 2; /* the higher the integer, the more on top */
}

/* less important; potentially shifted below or dropped */

#sliders2{ 
  position: absolute;
  bottom: 11vmin;
  height: 45vmin;
  right:  15.5vw;
  width:  42vmin;
  height: 18vmin;
  background-color: rgba(255,255,255,0.4);
  z-index: 2;

}

/* even less important */

#sliders3{ 
  position: absolute;
  top: 17vmin;
  left: 50vw;
  width: 33vw;
  height: 7.5vmin;
  background-color: rgba(255,255,255,0.4);
  z-index: 0;

}



/* former navigation frame (bigscreen in landscape) */
#infoModels{
  position: absolute;
  top:   11vmin;
  height:  30vmin;
  left:   85vw;
  width:  13vw;
  z-index: 2;
}

/* prevents big images when this infobox is laid out horizontally */
/* wieder f... Dos bei rel height, obwohl defiiert im div: redefine for horizontals ...*/
img.infoBlock{
    /*max-width: 90%;*/
    max-width: 16vw;
    max-height: 3vh;
}


#infoScenarios{
  position: absolute;
  top:   37vmin;
  height:  30vmin;
  left:   85vw;
  height: 55vmin;
  width:  13vw;
  /*background-color: #AAFFAA;*/
}







#infoLinks{
  position: absolute;
  top:   90vmin;
  left:   0vw;
  width:  98vw;
  /*background-color: #AAFFAA;*/

}




 
 h2{
     font-family: courier, sans-serif;
     font-size: 2.5vmin;
     font-weight: bold;
     color: #556;
     padding-top:0px;
 }

 h3{
     font-family: sans-serif;
     font-size: 1.9vmin;
     font-weight: bold;
     font-style: italic;
     color: #556;
     padding-top:0px;
 }





/* tables (overrides general text specification */

TH{
  font-size: 2.6vmin;
  font-weight: bold; 
  color: #404060;   /* text color */

}

TR{
  font-size:2.1vmin; 
  color: #000000;
}




/* ###################################################
   overrides above specifications 
   for viewport widths as specified below 
   attributesnot specified again are remembered
   particularly:
   get for narrow screens get the menu below instead of to the right
   filter options: http://www.w3schools.com/cssref/css3_pr_mediaquery.asp
 ################################################### */


/*@media all and (min-width: 300px) and (max-width: 480px) {*/
@media all and (orientation: portrait) and (min-width: 500px){

 body{
    font-size: 3vmin;
 } 

#scenarios{
  position: absolute;
  left: 5vw;
  top: 7vmin;
  height: 5vmin;
  width: 70vw;
  z-index: 1;
}

 #contents{
   position: absolute;
   width: 100vw;
   height: 100vmin;
 }


#infoFlags{
  position: absolute;
  top:   30vmin;
  left:   90vw;
  width: 10vw;
}

#infoModels{
  position: absolute;
  top:   120vmin;
  left:   0vw;
  height: 25vmin;
  width:  16vw;
}

#infoSources{
  position: absolute;
  top:   120vmin;
  left:   25vw;
  height: 25vmin;
  width:  18vw;
}

#infoScenarios{
  position: absolute;
  top:   120vmin;
  left:   50vw;
  height: 25vmin;
  width:  18vw;
}


#infoLinks{
  position: absolute;
  top:   120vmin;
  left:   75vw;
  height: 25vmin;
  width:  18vw;
}



} /* @media filter*/

