

button.action{
  font-size: calc( 6px + (18 - 6) * ( (100vmin - 300px) / ( 900 - 300) ));
  width: 20vmin;
  height: 8vmin;
}

@media all and  (max-width: 599px){
 button.action{
  font-size: calc(2.4vmin + 0.3vw);
  width:    calc(26vmin + 3vw );
  height: 9vmin;
 }
}

@media all and  (max-height: 599px){
 button.action{
  font-size: calc(2.4vmin + 0.3vw);
  width:    calc(26vmin + 3vw );
  height: 9vmin;
 }
}

@media all and  (max-aspect-ratio: 6/5){

 #buttonsInsideSimulations{
  position: absolute;
  top: 90vmin;
  height:  10vmin;
  left: 10vmin;
  width: 30vmin;
  z-index: 2;
 }
}

@media all and  (min-aspect-ratio: 6/5){


 #buttonsInsideSimulations{
  position: absolute;
  top: 90vmin;
  height:  10vmin;
  left: 30vmin;
  width: 30vmin;
  z-index: 2;
 }
}


@media all and  (min-aspect-ratio: 6/5) and (max-height: 599px){
#sliders2{
  height: 18vmin;
}
}